# Polaris Iceberg Credentials
ICEBERG_CLIENT_ID='XXX'
ICEBERG_CLIENT_SECRET='XXX'
ICEBERG_SCOPE='PRINCIPAL_ROLE:ALL'
ICEBERG_ENDPOINT='https://XXXXXXXXXXX.aws.polaris.fivetran.com/api/catalog'
ICEBERG_CATALOG_NAME='XXX'

# AWS S3 Credentials
AWS_ACCESS_KEY_ID='XXX'
AWS_SECRET_ACCESS_KEY='XXX'
AWS_SESSION_TOKEN='XXX'
AWS_REGION='us-west-2'
